@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0, 154, 75;
  --color-yellow-logo: 253, 208, 50;
  --color-red-logo: 234, 30, 46;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 0, 154, 75;
    --color-yellow-logo: 253, 208, 50;
    --color-red-logo: 234, 30, 46;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .btn-toolbar {
    @apply h-8 w-8 flex items-center justify-center rounded-full bg-white cursor-pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 4px 13px -3px, 
                rgb(38 38 38 / 15%) 0px -3px 0px inset
  }

  .btn-toolbar:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 4px 13px -3px
  }
}
