@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-primary: 0, 154, 75;
  --color-yellow-logo: 253, 208, 50;
  --color-red-logo: 234, 30, 46;

  --color-background: 248, 250, 251;
  --color-background-depth1: #edf0f1;


  --bg-primary: 0, 154, 75;
  --bg-primary-50: #edfff5;
  --bg-primary-100: #d6ffea;
  --bg-primary-200: #afffd6;
  --bg-primary-300: #71ffb8;
  --bg-primary-400: #2dfb92;
  --bg-primary-500: #02e573;
  --bg-primary-600: #00bf5b;
  --bg-primary-800: #06753e;
  --bg-primary-900: #085f35;
  --bg-primary-950: #00361c;
 
  --bg-yellow-logo: 253, 208, 50;
  --bg-red-log: 243, 30, 46;


  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 0, 154, 75;
    --color-yellow-logo: 253, 208, 50;
    --color-red-logo: 234, 30, 46;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    font-size: 1rem;
  }

  html, body {
    font-size: 13px;
  }

  .light-green {
    /* background: #e6f9ea; */
    /* background: #f3fff6; */
    /* bg-[rgb(248,250,251)] */
  }
}

@layer components {

  .header {
    @apply h-20 fixed left-72 right-0 bg-main z-20;
  }

  .header::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 40%;
    top: 0;
    left: 0;
    box-shadow: -13px -13px rgb(var(--color-primary));
  }

  .container-content::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 45%;
    bottom: 0px;
    left: 0px;
    box-shadow: -15px 15px rgb(var(--color-primary));
  }

  .btn-toolbar {
    @apply h-10 w-10 flex items-center justify-center rounded-full bg-white cursor-pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 4px 13px -3px, 
                rgb(38 38 38 / 15%) 0px -3px 0px inset
  }

  .btn-toolbar:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 4px 13px -3px
  }

  .side-menu {
    @apply flex flex-col w-full mt-2 gap-2;
  }

  .side-menu li.menu-item {
    @apply p-4 rounded-tl-2xl rounded-bl-2xl cursor-pointer ml-8 transition duration-300;
  }

  .side-menu li.menu-item.active {
    @apply relative bg-main;
  }

  .side-menu li.menu-item.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 rgb(var(--color-background));
    z-index: -1;
    background: var(--color-primary)
  }

  .side-menu li.menu-item.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 30%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 rgb(var(--color-background));
    z-index: -1;
    background: var(--color-primary)
  }

  .side-menu li.menu-item.active > a {
      background: rgb(248,250,251);
  }

  .side-menu li.menu-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 16px;
    color: #fff; 
    background: var(--color-primary);
  }

  .side-menu li.menu-item .menu-item-name {
    @apply transition duration-300
  }

  .side-menu li.menu-item:hover:not(.active) .menu-item-name {
    @apply translate-x-4
  }
  

  .side-menu li.menu-item a .menu-icon svg {
    @apply text-2xl mr-4;
  }

  .side-menu li.menu-item.active > a {
    @apply text-primary font-semibold;
  }

  .side-menu ul.sub-menu {
    @apply rounded-xl;
  }

  .side-menu li.sub-menu-item {
    @apply p-2 my-1 rounded-md transition-all duration-300;
  }

  .side-menu li.sub-menu-item:hover {
    background: var(--color-background-depth1)
  }

  .side-menu li.sub-menu-item.active {
    background: var(--color-background-depth1);
    @apply text-primary font-semibold;
  }

  .side-menu li.sub-menu-item a {
    @apply rounded-none text-primary ;
  }

  .side-menu li.sub-menu-item a .submenu-icon {
    @apply mr-4;
  }

}
